/* INDEX OF CSS STYLES*/



/**********  
    Font-styles
***********/

/*Text aligns*/
.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}


h1 {
    font-size: 8.0vh;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}

h2{
    font-size: 7.0vh;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}

h3{
    font-size: 6.0vh;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}

h4{
    font-size: 5.0vh;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}

h5{
    font-size: 4.5vh;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}

h6{
    font-size: 4.0vh;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}

p {
    font-size: 1.1rem;
}

li {
    line-height: 150%;
    text-decoration: none;
}

/**********  
    CSS
***********/

/*BORDRS*/
.b-radius0px{
    border-radius: 0px;
}
.b-radius6px{
    border-radius: 6px;
}
.b-radius8px{
    border-radius: 8px;
}
.b-radius10px{
    border-radius: 10px;
}
.b-radius12px{
    border-radius: 12px;
}
.b-radius14px{
    border-radius: 14px;
}
.b-radius16px{
    border-radius: 16px;
}
.b-radius18px{
    border-radius: 18px;
}
.b-radius20px{
    border-radius: 20px;
}

/*Padding*/
.padtop-1em{
    padding-top: 1em;
}
.padtop-2em{
    padding-top: 2em;
}
.padtop-3em{
    padding-top: 3em;
}
.padtop-4em{
    padding-top: 4em;
}
.padtop-5em{
    padding-top: 5em;
}
.padtop-6em{
    padding-top: 5em;
}
.padtop-7em{
    padding-top: 5em;
}
.padtop-8em{
    padding-top: 5em;
}
.padtop-9em{
    padding-top: 5em;
}


/* Floats*/

.f-right{
    float: right !important;
}

.f-left{
    float: left !important;
}




/**********  
Components
***********/
/*CARDS*/
.card-content{
    margin: 15px;
    padding: 5px;
}

.card-outline{
    width: 322px;
    height: 203px;
    left: 450.5px;
    top: 67.5px;
    background: #FFFFFF;
    border: 1px solid #929292;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.card {
    width: 322px;
    height: 203px;
    left: 450.5px;
    top: 67.5px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}


/* BUTTONS */

.btn-normal{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    height: 35px;
    padding: 0 16px;
    border-radius: 6px;
    outline: none;
}

.btn-normal-outline{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    height: 35px;
    padding: 0 16px;
    border-radius: 6px;
    border: 1px solid rgb(66, 66, 66);
    background: transparent;
    outline: none;
}


/*NavBars*/
ul:not(.browser-default)>li {
    list-style-type: none;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
nav{
    color: #fff;
    background-color: #252525;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav .wrapping {
    position: relative;
    height: 100%;
}

nav ul li {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    float: left;
    padding: 0;
}
nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: rgb(31, 31, 31);
    display: block;
    padding: 0 15px;
    cursor: pointer;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}